@import "tailwindcss";

:root {
  --background: #b2aeae;
  --foreground: #091833;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #091833;
    --foreground: #b2aeae;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jura), sans-serif;
}